<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>com.octest.servlets.Test</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>com.octest.servlets.Connexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
 	</description>
		<display-name>CreerUtilisateur</display-name>
		<servlet-name>CreerUtilisateur</servlet-name>
		<servlet-class>com.octest.servlets.CreerUtilisateur</servlet-class>
	</servlet>

	<servlet>
		<description>
 	</description>
		<display-name>Sites</display-name>
		<servlet-name>Sites</servlet-name>
		<servlet-class>com.octest.servlets.Sites</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>Topos</display-name>
		<servlet-name>Topos</servlet-name>
		<servlet-class>com.octest.servlets.Topos</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>BetaConn</display-name>
		<servlet-name>BetaConn</servlet-name>
		<servlet-class>com.octest.servlets.BetaConn</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>AjouterSite</display-name>
		<servlet-name>AjouterSite</servlet-name>
		<servlet-class>com.octest.servlets.AjouterSite</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>ValiderAjoutSite</display-name>
		<servlet-name>ValiderAjoutSite</servlet-name>
		<servlet-class>com.octest.servlets.ValiderAjoutSite</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>AjouterSecteur</display-name>
		<servlet-name>AjouterSecteur</servlet-name>
		<servlet-class>com.octest.servlets.AjouterSecteur</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>AjouterVoie</display-name>
		<servlet-name>AjouterVoie</servlet-name>
		<servlet-class>com.octest.servlets.AjouterVoie</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>AjouterLongueur</display-name>
		<servlet-name>AjouterLongueur</servlet-name>
		<servlet-class>com.octest.servlets.AjouterLongueur</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>RecapSite</display-name>
		<servlet-name>RecapSite</servlet-name>
		<servlet-class>com.octest.servlets.RecapSite</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>AjouterTopo</display-name>
		<servlet-name>AjouterTopo</servlet-name>
		<servlet-class>com.octest.servlets.AjouterTopo</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>ReserverTopo</display-name>
		<servlet-name>ReserverTopo</servlet-name>
		<servlet-class>com.octest.servlets.ReserverTopo</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>MesReservations</display-name>
		<servlet-name>MesReservations</servlet-name>
		<servlet-class>com.octest.servlets.MesReservations</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>Recherche</display-name>
		<servlet-name>Recherche</servlet-name>
		<servlet-class>com.octest.servlets.Recherche</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>DetailsSite</display-name>
		<servlet-name>DetailsSite</servlet-name>
		<servlet-class>com.octest.servlets.DetailsSite</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>Regions</display-name>
		<servlet-name>Regions</servlet-name>
		<servlet-class>com.octest.servlets.Regions</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>CommentaireTopo</display-name>
		<servlet-name>CommentaireTopo</servlet-name>
		<servlet-class>com.octest.servlets.CommentaireTopo</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>Deconnexion</display-name>
		<servlet-name>Deconnexion</servlet-name>
		<servlet-class>com.octest.servlets.Deconnexion</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>CommentaireSite</display-name>
		<servlet-name>CommentaireSite</servlet-name>
		<servlet-class>com.octest.servlets.CommentaireSite</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>AjoutCommentaireSite</display-name>
		<servlet-name>AjoutCommentaireSite</servlet-name>
		<servlet-class>com.octest.servlets.AjoutCommentaireSite</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>AnnulerSite</display-name>
		<servlet-name>AnnulerSite</servlet-name>
		<servlet-class>com.octest.servlets.AnnulerSite</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>SupprimerSecteur</display-name>
		<servlet-name>SupprimerSecteur</servlet-name>
		<servlet-class>com.octest.servlets.SupprimerSecteur</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>DetailsTopo</display-name>
		<servlet-name>DetailsTopo</servlet-name>
		<servlet-class>com.octest.servlets.DetailsTopo</servlet-class>
	</servlet>

	<servlet>
		<description>
 	</description>
		<display-name>SupprimerCommentaire</display-name>
		<servlet-name>SupprimerCommentaire</servlet-name>
		<servlet-class>com.octest.servlets.SupprimerCommentaire</servlet-class>
	</servlet>
	<servlet>
		<description>
 	</description>
		<display-name>SupprimerCommentaireTopo</display-name>
		<servlet-name>SupprimerCommentaireTopo</servlet-name>
		<servlet-class>com.octest.servlets.SupprimerCommentaireTopo</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreerUtilisateur</servlet-name>
		<url-pattern>/creerUtilisateur</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Sites</servlet-name>
		<url-pattern>/sites</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Topos</servlet-name>
		<url-pattern>/topos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BetaConn</servlet-name>
		<url-pattern>/betaConn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjouterSite</servlet-name>
		<url-pattern>/ajouterSite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjouterSecteur</servlet-name>
		<url-pattern>/ajouterSecteur</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValiderAjoutSite</servlet-name>
		<url-pattern>/validerAjoutSite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjouterVoie</servlet-name>
		<url-pattern>/ajouterVoie</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjouterLongueur</servlet-name>
		<url-pattern>/ajouterLongueur</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecapSite</servlet-name>
		<url-pattern>/recapSite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjouterTopo</servlet-name>
		<url-pattern>/ajouterTopo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReserverTopo</servlet-name>
		<url-pattern>/reserverTopo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MesReservations</servlet-name>
		<url-pattern>/mesReservations</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Recherche</servlet-name>
		<url-pattern>/recherche</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DetailsSite</servlet-name>
		<url-pattern>/detailsSite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Regions</servlet-name>
		<url-pattern>/regions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentaireTopo</servlet-name>
		<url-pattern>/CommentaireTopo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/deconnexion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentaireSite</servlet-name>
		<url-pattern>/commentaireSite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjoutCommentaireSite</servlet-name>
		<url-pattern>/ajoutCommentaireSite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AnnulerSite</servlet-name>
		<url-pattern>/AnnulerSite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupprimerSecteur</servlet-name>
		<url-pattern>/SupprimerSecteur</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DetailsTopo</servlet-name>
		<url-pattern>/detailsTopo</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SupprimerCommentaire</servlet-name>
		<url-pattern>/SupprimerCommentaire</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupprimerCommentaireTopo</servlet-name>
		<url-pattern>/SupprimerCommentaireTopo</url-pattern>
	</servlet-mapping>


	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
			<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>


</web-app>
